#Browse {
    height: 100vh;
    background-color: #4e1e29;
}

.list-container {
height: 90%;
width: 70%;
background-color: #c6b38e;
margin: auto;
border-radius: 10px;
}

.book-container {
    background-color: #fbffe6;
    border-radius: 10px;
    height: 150px;
    width: 75%;
    padding-top: 20px;
    margin: 20px auto 20px auto;
}

.photo-container {
    margin-left: 20px;
    height: 150px;
    width: 100px;
}